<?xml version="1.0"?>
<model>
  <name>Demonstrator Human Model</name>
  <version>1.0</version>
  <sdf version='1.5'>skeleton.sdf</sdf>

  <author>
    <name>Michael Zechmair</name>
    <email>m.zechmair@maastrichtuniversity.nl</email>
  </author>

  <description>
    Upper half of human skeleton with actuated right arm, hand, and fingers. Fingers are joined together
  </description>
</model>
